@import "../../assets/sass/variables"

.footer-container
    display: flex
    text-align: center
    position: relative
   
    justify-content: center
    justify-items: center
    bottom: 0px
    @media screen and (max-width: 913px) 
            margin-top: 15%
            font-size: 30px 
            bottom: 0px
    
    .container-inside
        height: 80px
        width: 100%
        position: absolute
        color: $widgets-color
        h3
            font-size: 25px
            font-family: $main-font
            a
                text-decoration-color: $widgets-color
                color: $main-bg-color