@import "../../assets/sass/variables"  

.container 
    
    position: relative
    border: solid $border-color
    border-radius: 10px
    background-color: $widgets-color
    margin: 10px
    padding: 18px
    display: flex
    justify-content: center
    justify-items: center
    top: 13px

